.product_tiles {
    margin-top: 60px;
    .tile {
        lost-column: 1/1;
    }
    
    @media (min-width: 600px) {
        .tile {
            lost-column: 1/2;
        }
    }
    
    @media (min-width: 900px) {
        .tile {
            lost-column: 1/3;
        }
    }
}
